<h1>Editar usuário: {{user.nome}}</h1>
<form action="/users/edit/{{user.id}}" method="post" class="form">
    <input type="hidden" name="id" value="{{user.id}}">
    <div class="form-controle">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" value="{{user.nome}}">
    </div>
    <div class="form-controle">
        <label for="profissao">Profissão:</label>
        <input type="text" name="profissao" value="{{user.profissao}}">
    </div>
    <div class="form-controle form-checkbox">
        {{#if user.newsletter}}
            <input type="checkbox" name="newsletter" checked>
        {{else}}
            <input type="checkbox" name="newsletter">
        {{/if}}
        <label for="newsletter">Deseja receber nossa newsletter? </label>
    </div>
    <input type="submit" value="Salvar Edição">
</form>
<div class="actions">
    <a href="/">Voltar</a>
</div>